.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
}
.nav {
    
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.three-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.three-column div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.two-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.two-column div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.four-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.four-column div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.one-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.one-column div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
